body {
  color: #40514E;
  margin : 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  }
h1 {
  font-size: 5.625rem;
  margin-top: 2.6rem auto 0 auto;
  font-family: 'Sacramento', serif;
  color: #37667E;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', serif;
  font-weight: normal;
  color: #006400;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', serif;
  color: #11999E;
}
p {
  line-height: 2;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 250px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.top {
  background-color: #FEB139;
    padding-top: 100px;
}
.middle {
}
hr {
  border-style: dotted none none;
  border-color: #696969;
  border-radius: 0;
  border-width: 6px;
  height: 0px;
  width: 4%;
  margin: 100px auto 100px auto;
}
.profile {
  margin: 50px auto 0 auto;
}
.dc {
  width: 30%;
  margin: auto;
  color: #40514E;
}
.bottom {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
  margin: 60px auto 0 auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.des {
  width:25%;
  float: left;
  margin-right: 30px;
}
.cs {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.pro {
  text-decoration: underline;
}
a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.contact-me {
width: 50%;
margin: auto;
}
.ct {
  width: 50%;
  margin: 40px auto 60px auto;
}
.t {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 25px 0 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
